<div class="feed js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
<%= render partial: "item", collection: @items %>
</div>
<%= javascript_include_tag "feed/feed" %>
