// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

#homepage-controls {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.feed {
  width: 100%;
  height: 100%;
  background-color: rgb(251, 249, 249);
  .item {
    display: inline-block;
    width: 374px;
    border: 1px #BBB solid;
    border-radius: 3px;
    background-color: white;
    margin: 10px 5px; 
  }
}
